<!--<input type="text" id="email" placeholder="Your email"/>-->
<!--<input type="password" id="password" placeholder="Your password"/>-->
<!--<div class="button" (click)="login()" class="btn btn-default">Log In</div>-->

<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form action="" method="">
        <input name="user" type="text" placeholder="username" id="email">
        <input type="password" placeholder="password" id="password">
        <button class="btn btn-info btn-block login" type="submit" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>



  <!--<form>-->
  <!--<div class="form-group">-->
    <!--&lt;!&ndash;<label for="email">Email address</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="email" class="form-control" id="email" placeholder="Email">&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--&lt;!&ndash;<label for="password">Password</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="password" class="form-control" id="password" placeholder="Password">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<button type="submit" class="btn btn-default" (click)="login()">Log In</button>&ndash;&gt;-->
<!--</form>-->

