<!--<div>-->
  <!--<input type="text" value="{{place?.name}}" readonly id="name">-->
  <!--<span (click)="editTitle()" id="editTitle" class="button saved"></span>-->
  <!--<br>-->
  <!--<textarea id="description" rows="4" cols="50" readonly>{{place?.description}}</textarea>-->
  <!--<span id="editDescription" (click)="editDescription()" class="button saved"></span>-->
  <!--<div class="button like" (click)="like()"> ♥ {{place?.likes}} </div>-->
  <!--<div class="button delete" (click)="delete()">X Delete</div>-->
<!--</div>-->

<div>
  <h2>{{place?.name}}</h2> <input type="text" #editTitle placeholder="New name">
  <p>{{place?.description}}</p> <textarea name="descriptionPlaceEdit" #editDescription cols="30" rows="10"></textarea>
    <all-tags [tags]="tags" [place]="place"></all-tags>
    <!--<tag *ngFor="#tag of tags" [tag]="tag" [place]="place"></tag>-->
  <div class="button delete" (click)="delete()">X Delete</div>
  <div class="button edit" (click)="edit(editTitle.value, editDescription.value)">Edit Place</div>
</div>
