.tag {
  background-color: #4CAF50;
  border-radius: 20px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.edited::after {
  content: "save";
}

.saved::before {
  content: "edit";
}
