<h3>Усі місця</h3>
<div class="container">
  <div class="mdl-grid">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-ripple-effect" (click)="addNewPlace()">
          Додати нове місце
        </a>
      </div>
    </div>
    <place-detail  *ngFor="#place of places" [place]="place" class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col"></place-detail>
    <!--<ul>-->
      <!--&lt;!&ndash;<span (click)="addNewPlace()">Add new place</span>&ndash;&gt;-->
      <!--<li *ngFor="#place of places">-->
        <!--&lt;!&ndash; each place goes here&ndash;&gt;-->
        <!--<place-detail [place]=place (click)="gotoDetail(place)"></place-detail>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div>


<!--<ol>-->
  <!--<span (click)="addNewPlace()">Add new place</span>-->
  <!--<li *ngFor="#place of places">-->
    <!--&lt;!&ndash; each place goes here&ndash;&gt;-->
      <!--<place-detail [place]=place (click)="gotoDetail(place)"></place-detail>-->
  <!--</li>-->
<!--</ol>-->



