.region {
  /*fill: none;*/
  pointer-events: all;
}

svg {
  background-color: rgb(191, 216, 242);
}

.country {
  fill: #eee;
}

.country.UKR {
  fill: #fff;
}

.country-boundary {
  fill: none;
  stroke: #aaa;
}

.region {
  fill: none;
}

.region.selected {
  fill: rgba(252, 248, 227, 0.8);
}

.region-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.region-boundary.selected {
  stroke-dasharray: none;
}

.coastline, .river, .lake {
  stroke: rgb(83, 168, 231);
}

.coastline, .river {
  fill: none;
}

.lake {
  fill: rgb(191, 216, 242);
}

.regions-list {
  padding-left: 1em;
  column-width: 14em;
  -webkit-column-width: 14em;
  -moz-column-width: 14em;
  width: 90%;
  margin: 0 auto;
  /*color: darkblue;*/
}
ul.regions-list li a{
  color: #0d47a1 !important;
}


#textbox {
  position: absolute;
  top: 50px;
  left:150px;
  width: 275px;
  height: 20px;
}

#textbox text p {
  font-family: Arial, Helvetica;
  font-size: .8em;
  margin: 0;
}

#map_district {
  width: 80% ;
  margin: 0 auto;
}

#map_district svg {
  /*width: 100%;*/
}


